<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html layout:decorate="~{newbase}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<!-- header -->
<!-- //header -->
<!-- banner -->
<div layout:fragment="content-body">

    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">List Product</h3>
                <button class="float-right btn-primary" id="btn-add-product">Add New Product</button>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive">
                <table class="table table-striped table-bordered table-hover nowrap" id="tableProduct"
                       style="width:100%"></table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>

    <div class="modal fade" id="modal-product">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Product</h4>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card card-cyan">
                        <div class="card-header">
                            <h3 class="card-title">Please input data of product:</h3>
                        </div>
                        <div class="card-body">
                            <form id="form-product" role="form">

                                <input class="form-control" id="id" name="id" type="hidden">
                                <div class="form-group">
                                    <label for="productName" class="form-label">Name</label>
                                    <input type="text" class="form-control" id="productName" name="productName"
                                           placeholder="Product Name"
                                           required>
                                </div>
                                <div class="form-group">
                                    <label for="pictureUrl" class="form-label">Image URL</label>
                                    <input type="url" class="form-control" id="pictureUrl" name="pictureUrl"
                                           placeholder="Product Image URL"
                                           required>
                                </div>
                                <div class="form-group">
                                    <label for="price" class="form-label">Price</label>
                                    <input type="number" class="form-control" name="price" id="price"
                                           placeholder="Product Price"
                                           required>
                                </div>
                                <div class="form-group">
                                    <label for="stock" class="form-label">Product Stock</label>
                                    <input type="text" class="form-control" id="stock" name="stock"
                                           placeholder="Product Stock" required>
                                </div>
                                <div class="form-group">
                                    <label for="categoryName">Jurusan: </label>
                                    <select class="form-control" name="idCategory" id="categoryName">
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                    <button type="submit" class="btn btn-purple" id="btn-save-product">Submit</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modal-delete">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Product</h4>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-header">
                    </div>
                    Are you sure to delete this product?
                </div>
                <div class="modal-footer right-content-between">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
                    <button class="btn btn-primary" id="btn-delete-product" type="button">Delete</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>




</div>
<th:block layout:fragment="add-scripts">
    <script th:src="@{assets/script/product.js}"></script>
    <script th:src="@{assets/script/utils.js}"></script>
    <script th:src="@{assets/script/default.js}"></script>
    <script>
        tableProduct.create();


        $('#btn-add-product').on("click", function() {
            $('#modal-product').modal('show')
        });

        $('#btn-save-product').click(function () {
            formProduct.saveForm();
        });
        $('#btn-delete-product').click(function () {
            actionDelete.deleteRowData();
        });
        dropdown.selectCategory();

    </script>
</th:block>

</html>