<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html layout:decorate="~{base}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<!-- header -->
<!-- //header -->
<!-- banner -->
<div layout:fragment="content-body">

    <main class="container">
        <section class="py-5 text-center container">
            <div class="row py-lg-5">

            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="card">
                    <div class="card-header text-center">
                        <h1 class="fw-light">All Products You Can Find</h1>
                        <p class="lead text-muted">The best beauty care for you!</p>
                    </div>
                    <div class="card-body body-product">
                        <div class="row" id="card-container">
                            <!--More cards will be add here-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

</div>
<th:block layout:fragment="add-scripts">
    <script th:src="@{assets/script/utils.js}"></script>
    <script th:src="@{assets/script/product.js}"></script>
    <!--    <script th:src="@{assets/js/jquery.mycart.js}"></script>-->
    <script>
        // $("#card-container").ready(function () {
        //     create.getAllProducts();
        // var cards = create.getProducts2();
        // //
        // for (const i in cards) {
        //     var card = cards[i];
        //     $("#card-container").append(card);
        // }
        // create.getProducts();
        // });
        $(function () {
            // $(".my-cart-btn").myCart(options);
            // var $target = $(this);
            $("#card-container").on("click", "#buy-btn", function () {
                console.log("berhasil")
                add.clickOnAddToCart($(this));
            });
        });
    </script>
</th:block>

</html>