
<!DOCTYPE html>
<html layout:decorate="~{base}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">


<div layout:fragment="content-body">

    <main class="container">
        <section class="py-5 text-center container">
            <div class="row py-lg-5">

            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="card">
                    <div class="card-header text-center">
                        <h1 class="fw-light">Hey don't forget to take care of your skin</h1>
                        <p class="lead text-muted">Find your needs here!</p>
                    </div>
                <div class="card-body body-product">
                    <div class="row" id="card-container">
                        <!--More cards will be add here-->
                    </div>
                </div>
            </div>
            </div>
        </div>

    </main>

</div>
<th:block layout:fragment="add-scripts">
    <script th:src="@{assets/script/utils.js}"></script>
    <script th:src="@{assets/script/product.js}"></script>
    <script>
        $("#card-container").ready(function () {
            create.getSkinCare();

        });
    </script>
</th:block>

</html>