<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html layout:decorate="~{base}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Daily You | Sign In</title>
</head>
<!--<div class="row mb-2" layout:fragment="content-header">-->
<!--    <div class="col-sm-6">-->
<!--        <h1 class="m-0 text-dark">Login Page</h1>-->
<!--    </div>-->
<!--    <div class="col-sm-6">-->
<!--        <ol class="breadcrumb float-sm-right">-->
<!--            <li class="breadcrumb-item"><a href="index.html">Home</a></li>-->
<!--            <li class="breadcrumb-item active">Login Page</li>-->
<!--        </ol>-->
<!--    </div>-->
<!--</div>-->

<body layout:fragment="content-header">
<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li class="active">Login Page</li>
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- login -->
<div class="login">
    <div class="container">
        <h3 class="animated wow zoomIn" data-wow-delay=".5s">Login Form</h3>
        <p class="est animated wow zoomIn" data-wow-delay=".5s">Sign in to start your session</p>
        <div class="login-form-grids animated wow slideInUp" data-wow-delay=".5s">
            <div class="alert alert-danger" role="alert" th:if="${param.error}">
                The email or password is incorrect!
            </div>
            <form th:action="@{/login}" method="post">
<!--                <input type="email" placeholder="Email Address" required=" " >-->
<!--                <input type="password" placeholder="Password" required=" " >-->
                <label for="inputEmail" class="sr-only">Email</label>
                <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
                <div class="forgot">
                    <a href="#">Forgot Password?</a>
                </div>
                <input type="submit" value="Login">
            </form>
        </div>
        <h4 class="animated wow slideInUp" data-wow-delay=".5s">For New People</h4>
        <p class="animated wow slideInUp" data-wow-delay=".5s"><a href=" /signup">Register Here</a> (Or) go back to <a href="index.html">Home<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></p>
    </div>
</div>
<!-- //login -->
</body>


<th:block layout:fragment="add-scripts">
</th:block>

</html>