<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html layout:decorate="~{base}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Daily You | Sign In</title>
</head>

<body layout:fragment="content-header">
<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li class="active">Login Page</li>
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- login -->
<div class="login">
    <div class="container">
        <!--    <div class = "row">-->
        <!--        <div class = "col-md-6 col-md-offset-3">-->
        <h3 class="animated wow zoomIn" data-wow-delay=".5s">Login Form</h3>
        <p class="est animated wow zoomIn" data-wow-delay=".5s">Sign in to start your session</p>
        <div class="login-form-grids animated wow slideInUp" data-wow-delay=".5s">

            <form th:action="@{/login}" method="post">

                <!-- error message -->
                <div th:if="${param.error}">
                    <div class="alert alert-danger">Invalid username or
                        password.
                    </div>
                </div>

                <!-- logout message -->
                <div th:if="${param.logout}">
                    <div class="alert alert-info">You have been logged out.</div>
                </div>

                <div class="form-group">
                    <label for="username"> Username </label> :
                    <input type="text" class="form-control" id="username" name="username"
                           placeholder="Enter Email ID" autofocus="autofocus">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>: <input type="password"
                                                                   id="password" name="password" class="form-control"
                                                                   placeholder="Enter Password"/>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit" name="login-submit" id="login-submit"
                                   class="form-control btn btn-primary" value="Log In"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <h4 class="animated wow slideInUp" data-wow-delay=".5s">For New People</h4>
        <p class="animated wow slideInUp" data-wow-delay=".5s"><a href=" /signup">Register Here</a> (Or) go back to <a
                href="index.html">Home<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></p>

    </div>
</div>

</body>


<th:block layout:fragment="add-scripts">
</th:block>

</html>