<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html layout:decorate="~{base}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<div layout:fragment="content-body">

<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li class="active">Register Page</li>
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->

<!-- Create HTML registration form -->
<div class="register">
    <div class="container">
<!--        <div class="row">-->
<!--            <div class="col-md-6 col-md-offset-3">-->
        <h3 class="animated wow zoomIn" data-wow-delay=".5s">Register Here</h3>
        <p class="est animated wow zoomIn" data-wow-delay=".5s">Register your account to start your session</p>

        <div class="login-form-grids animated wow slideInUp" data-wow-delay=".5s">
                <!-- success message -->
                <div th:if="${param.success}">
                    <div class="alert alert-info">You've successfully registered
                        to our awesome app!
                    </div>
                </div>

                <form th:action="@{/signup}" method="post" th:object="${user}">
                    <div class="form-group">
                        <label class="control-label" for="firstName"> First Name </label>
                        <input id="firstName" class="form-control" th:field="*{firstName}"
                               required autofocus="autofocus"/>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="lastName"> Last Name </label> <input
                            id="lastName" class="form-control" th:field="*{lastName}"
                            required autofocus="autofocus"/>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="email"> Email </label> <input
                            id="email" class="form-control" th:field="*{email}" required
                            autofocus="autofocus"/>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="password"> Password </label> <input
                            id="password" class="form-control" type="password"
                            th:field="*{password}" required autofocus="autofocus"/>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Register</button>
                        <span>Already registered? <a href="/" th:href="@{/login}">Login
								here</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="add-scripts">
</th:block>
</html>