<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html layout:decorate="~{base}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<div layout:fragment="content-body">

<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="/dashboard"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li class="active">Register Page</li>
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->

<!-- Create HTML registration form -->
<div class="register">
    <div class="container">
<!--        <div class="row">-->
<!--            <div class="col-md-6 col-md-offset-3">-->

        <h3 class="animated wow zoomIn" data-wow-delay=".5s">Register</h3>
        <p class="est animated wow zoomIn" data-wow-delay=".5s">Register your account to start your session</p>

        <div class="login-form-grids animated wow slideInUp" data-wow-delay=".5s">

            <!-- success message -->
            <div th:if="${param.success}">
                <div class="alert alert-info">You've successfully registered
                    to our awesome app!</div>
            </div>

            <form th:action="@{/signup}" method="post" th:object="${user}">

                <!--                        <p class="error-message" th:if="${#fields.hasGlobalErrors()}"-->
                <!--                           th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation-->
                <!--                            error</p>-->

                <div class="form-group">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <label for ="firstName"> First Name : </label>
                    <a th:field="*{firstName}"></a>
                    <input type="text" class="form-control" name="firstName" id="firstName" placeholder="first name" required="required">
                    <div class="clearfix"></div>
                </div>

                <div class="form-group">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <label for ="lastName"> Last Name : </label>
                    <a th:field="*{lastName}"></a>
                    <input type="text" class="form-control" name="lastName" id="lastName" placeholder="last name" required="required">
                    <div class="clearfix"></div>
                </div>

                <div class="form-group">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <label for ="username"> Username : </label>
                    <a th:field="*{username}"></a>
                    <input type="text" class="form-control" name="username" id="username" placeholder="username" required="required">
                </div>

                <div class="form-group">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <label for ="email"> Email : </label>
                    <a th:field="*{email}"></a>
                    <input type="email" class="form-control" name="email" id="email" placeholder="email" required="required">
                </div>

                <div class="form-group">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <label for ="password"> Password : </label>
                    <a th:field="*{password}"></a>
                    <input type="password" class="form-control" id="password" name="password" placeholder="password" required="required"
                           pattern="(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,30}" title="Must contain
                           min 1 uppercase letter, min 1 lowercase letter, min 1 number, min 1 special character, and min 8 characters max 30 characters." />

                </div>

                <input type="submit" class="btn btn-success" />

                <br>
                <div class="form-group">
                    <span>Already registered ? <a href="/" th:href="@{/login}">Login here</a></span>
                </div>
            </form>

            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="add-scripts">
</th:block>
</html>