<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html layout:decorate="~{base}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<!-- header -->
<!-- //header -->
<!-- banner -->
<div layout:fragment="content-body">

    <div class="container">
        <h1>Access denied</h1>
    </div>

</div>
<th:block layout:fragment="add-scripts">
</th:block>

</html>