<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html layout:decorate="~{base}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<div layout:fragment="content-body">

    <div class="new-collections">
        <div class="container">
            <h3 class="animated wow zoomIn" data-wow-delay=".5s">Environment Pillars</h3>
            <br>
            <br>
            <div class="col-md-6 new-collections-grid center">
                <div class="new-collections-grid1 animated wow slideInUp" data-wow-delay=".5s">
                    <div class="new-collections-grid1-image">
                        <a href="single.html" class="product-image"><img src="assets/images/photo6.jpg" alt=" "
                                                                         class="img-responsive"/></a>

                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <p class="text-left"> In carrying out its commitment to preserving the earth,
                    Daily You seeks to collaborate with organizations in the environmental sector and involve the
                    general public in the provision of clean water, waste treatment and environmental preservation.</p>            </div>
        </div>
    </div>


</div>

<th:block layout:fragment="add-scripts">
</th:block>
</html>