<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html layout:decorate="~{base}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<div layout:fragment="content-body">

    <div class="breadcrumbs">
        <div class="container">
            <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
                <li><a href="/dashboard"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
                <li class="active">Activities</li>
            </ol>
        </div>
    </div>

    <div class="new-collections">
        <div class="container">
            <h3 class="animated wow zoomIn" data-wow-delay=".5s">Health Pillars</h3>
            <br>
            <br>
            <div class="col-md-6 new-collections-grid center">
                <div class="new-collections-grid1 animated wow slideInUp" data-wow-delay=".5s">
                    <div class="new-collections-grid1-image">
                        <a href="single.html" class="product-image"><img src="assets/images/photo7.jpg" alt=" "
                                                                         class="img-responsive"/></a>

                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <p class="text-left"> Health is an important beginning of the welfare of
                    the people of a nation. Improving the quality of health
                    is one of the commitments that Daily You continues to
                    pursue with organizations in the health sector, especially those related to women and children.</p>
            </div>
        </div>
    </div>


</div>

<th:block layout:fragment="add-scripts">
</th:block>
</html>