<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html layout:decorate="~{base}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<div layout:fragment="content-body">

    <div class="new-collections">
        <div class="container">
            <h3 class="animated wow zoomIn" data-wow-delay=".5s">Education Pillars</h3>
            <br>
            <br>
            <div class="col-lg-5">
                <p class="text-left"> Education is the foundation of building a nation.
                    Daily You is committed to participating in advancing
                    education in Indonesia through programs such as
                    teacher training, scholarships, parenting, improvements
                    to infrastructure, to leadership development.</p>
            </div>
            <div class="col-md-6 new-collections-grid center">
                <div class="new-collections-grid1 animated wow slideInUp" data-wow-delay=".5s">
                    <div class="new-collections-grid1-image">
                        <a href="single.html" class="product-image"><img src="assets/images/photo8.jpg" alt=" "
                                                                         class="img-responsive"/></a>

                    </div>
                    <!--                    <h4><a href="single.html">Pond's White Beauty Facial Foam</a></h4>-->

                </div>
            </div>
        </div>
    </div>



</div>

<th:block layout:fragment="add-scripts">
</th:block>
</html>