<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Manage Product</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="keywords" content="Best Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
  <script type="application/x-javascript"> addEventListener("load", function () {
    setTimeout(hideURLbar, 0);
  }, false);

  function hideURLbar() {
    window.scrollTo(0, 1);
  } </script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <!-- //for-mobile-apps -->
  <link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
  <link href="assets/css/style.css" rel="stylesheet" type="text/css" media="all"/>

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.24/af-2.3.6/b-1.7.0/cr-1.5.3/date-1.0.3/fc-3.3.2/fh-3.1.8/kt-2.6.1/r-2.2.7/rg-1.1.2/rr-1.2.7/sc-2.0.3/sb-1.0.1/sp-1.2.2/sl-1.3.3/datatables.min.css"/>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.24/af-2.3.6/b-1.7.0/cr-1.5.3/date-1.0.3/fc-3.3.2/fh-3.1.8/kt-2.6.1/r-2.2.7/rg-1.1.2/rr-1.2.7/sc-2.0.3/sb-1.0.1/sp-1.2.2/sl-1.3.3/datatables.min.js"></script>

<!--  <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>-->




</head>
<body>

<div class="wrapper">
  <div class="header">
    <div class="container">
      <div class="header-grid">
        <div class="header-grid-left animated wow slideInLeft" data-wow-delay=".5s">
          <ul>
            <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
              <a href="mailto:info@example.com">contact@dailyyou.com</a></li>
            <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 892</li>
            </li>
          </ul>
        </div>
        <div class="header-grid-right animated wow slideInRight" data-wow-delay=".5s">
          <ul>
            <li><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i><a href=" /login">Login</a></li>
            <li><i class="glyphicon glyphicon-book" aria-hidden="true"></i><a href=" /register">Register</a></li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="logo-nav">
        <div class="logo-nav-left animated wow zoomIn" data-wow-delay=".5s">
          <h1><a href="/dashboard">Daily You <span>Make beauty and wellness</span></a></h1>
        </div>
        <div class="logo-nav-left1">
          <nav class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header nav_2">
              <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse"
                      data-target="#bs-megadropdown-tabs">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
              <ul class="nav navbar-nav">
                <li class="active"><a href="index.html" class="act">About Us</a></li>
                <!-- Mega Menu -->
                <li class="dropdown">
                  <a href="/all-product" class="dropdown-toggle" data-toggle="dropdown">Products <b
                          class="caret"></b></a>
                  <ul class="dropdown-menu multi-column columns-3">
                    <div class="row">
                      <div class="col-sm-6">
                        <ul class="multi-column-dropdown">
                          <li><a href="/make-up">Make Up</a></li>
                          <li><a href="/skin-care">Skin Care</a></li>
                          <li><a href="/body-care">Body Care</a></li>
                          <li><a href="/all-product">All Products</a></li>
                        </ul>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="activities" class="dropdown-toggle" data-toggle="dropdown">Activities <b
                          class="caret"></b></a>
                  <ul class="dropdown-menu multi-column columns-3">
                    <div class="row">
                      <div class="col-sm-9">
                        <ul class="multi-column-dropdown">
                          <li><a href="furniture.html">Education Pillars</a></li>
                          <li><a href="furniture.html">Health Pillars</a></li>
                          <li><a href="furniture.html">Women's Empowerment Pillars</a></li>
                          <li><a href="furniture.html">Environment Pillars</a></li>
                        </ul>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </ul>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="logo-nav-right">
          <div class="search-box">
            <div id="sb-search" class="sb-search">
              <form>
                <input class="sb-search-input" placeholder="Find your items here" type="search"
                       id="search">
                <input class="sb-search-submit" type="submit" value="">
                <span class="sb-icon-search"> </span>
              </form>
            </div>
          </div>
          <!-- search-scripts -->
          <script src="assets/js/classie.js"></script>
          <script src="assets/js/uisearch.js"></script>
          <script>
            new UISearch(document.getElementById('sb-search'));
          </script>
          <!-- //search-scripts -->
        </div>
        <div class="header-right">
          <div class="cart box_1">
            <a href="checkout.html">
              <h3>
                <div class="total">
                  <span class="simpleCart_total"></span> (<span id="simpleCart_quantity"
                                                                class="simpleCart_quantity"></span> items)
                </div>
                <img src="/assets/images/bag.png" alt=""/>
              </h3>
            </a>
            <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
            <div class="header-grid-right animated wow slideInRight" data-wow-delay=".2s">
              <ul>
                <li><i class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i><a href="/checkout"></a></li>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

  <div class="content-wrapper">

    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <!--            <div class="container-fluid">-->
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">List Product</h3>
            <button class="float-right btn-primary" id="btn-add-product">Add New Product</button>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive">
            <table class="table table-striped table-bordered table-hover nowrap" id="tableProduct"
                   style="width:100%"></table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>

      <div class="modal fade" id="modal-product">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header ">
              <h4 class="modal-title">Product</h4>
              <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card card-cyan">
                <div class="card-header">
                  <h3 class="card-title">Please input data of product:</h3>
                </div>
                <div class="card-body">
                  <form id="form-product" role="form">

                    <input class="form-control" id="id" name="id" type="hidden">
                    <div class="form-group">
                      <label for="productName" class="form-label">Name</label>
                      <input type="text" class="form-control" id="productName" name="productName"
                             placeholder="Product Name"
                             required>
                    </div>
                    <div class="form-group">
                      <label for="pictureUrl" class="form-label">Image URL</label>
                      <input type="url" class="form-control" id="pictureUrl" name="pictureUrl"
                             placeholder="Product Image URL"
                             required>
                    </div>
                    <div class="form-group">
                      <label for="price" class="form-label">Price</label>
                      <input type="number" class="form-control" name="price" id="price"
                             placeholder="Product Price"
                             required>
                    </div>
                    <div class="form-group">
                      <label for="stock" class="form-label">Product Stock</label>
                      <input type="text" class="form-control" id="stock" name="stock"
                             placeholder="Product Stock" required>
                    </div>
                    <div class="form-group">
                      <label for="categoryName">Jurusan: </label>
                      <select class="form-control" name="idCategory" id="categoryName">
                      </select>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="modal-footer justify-content-between">
              <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
              <button type="submit" class="btn btn-purple" id="btn-save-product">Submit</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>

      <div class="modal fade" id="modal-delete">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Delete Product</h4>
              <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card-header">
              </div>
              Are you sure to delete this product?
            </div>
            <div class="modal-footer right-content-between">
              <button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
              <button class="btn btn-primary" id="btn-delete-product" type="button">Delete</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!--            </div>-->
    </div>
    <!-- /.content -->
  </div>


<!--  <h2>Large Modal</h2>-->
<!--  &lt;!&ndash; Trigger the modal with a button &ndash;&gt;-->
<!--  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Large Modal</button>-->

<!--  &lt;!&ndash; Modal &ndash;&gt;-->
<!--  <div class="modal fade" id="myModal" role="dialog">-->
<!--    <div class="modal-dialog modal-lg">-->
<!--      <div class="modal-content">-->
<!--        <div class="modal-header">-->
<!--          <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--          <h4 class="modal-title">Modal Header</h4>-->
<!--        </div>-->
<!--        <div class="modal-body">-->
<!--          <p>This is a large modal.</p>-->
<!--        </div>-->
<!--        <div class="modal-footer">-->
<!--          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>
<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->


</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->

<th:block layout:fragment="add-scripts">
  <script th:src="@{assets/script/product.js}"></script>
  <script th:src="@{assets/script/utils.js}"></script>
  <script th:src="@{assets/script/default.js}"></script>
  <script>
    tableProduct.create();


    $('#btn-add-product').on("click", function() {
      $('#modal-product').modal('show')
    });

    $('#btn-save-product').click(function () {
      formProduct.saveForm();
    });
    $('#btn-delete-product').click(function () {
      actionDelete.deleteRowData();
    });
    dropdown.selectCategory();
  </script>
</th:block>

</body>
</html>
